examples/1.xyz
examples/2.xyz
examples/PDB/
examples/inst_1100.txt
examples/inst_1200.txt
examples/inst_1300.txt
examples/inst_1400.txt
examples/inst_1500.txt
examples/inst_3000.txt
examples/inst_4000.txt
examples/inst_5000.txt
examples/inst_6000.txt
examples/myimage.gif
examples/pdb1a03v1.txt
examples/pdb1a03v2.txt
examples/pdb2l33.ent/
examples/perfomance_10.png
examples/perfomance_100.png
examples/perfomance_1000.png
examples/perfomance_1500.png
examples/perfomance_200.png
examples/perfomance_2000.png
examples/perfomance_3.png
examples/perfomance_300.png
examples/perfomance_4.png
examples/perfomance_400.png
examples/perfomance_5.png
examples/perfomance_50.png
examples/perfomance_500.png
examples/perfomance_600.png
examples/perfomance_700.png
examples/perfomance_800.png
examples/perfomance_900.png
examples/performance_10.tex
examples/performance_100.tex
examples/performance_1000.tex
examples/performance_1500.tex
examples/performance_200.tex
examples/performance_2000.tex
examples/performance_3.tex
examples/performance_300.tex
examples/performance_4.tex
examples/performance_400.tex
examples/performance_5.tex
examples/performance_50.tex
examples/performance_500.tex
examples/performance_600.tex
examples/performance_700.tex
examples/performance_800.tex
examples/performance_900.tex
examples/report.txt
examples/rmsd_output.tex
# Ignore build subfolder from docs
docs/build/*
