<?xml version="1.0" encoding="utf-8"?>
<configuration><appSettings file="">
  <clear />
  <add key="fileDir" value="Z:\home\emerson\emersonvitor\PDBFiles\pdb1a03.ent\pdb1a03.ent" />
  <add key="fileConDir" value="Z:\home\emerson\emersonvitor\PDBFiles\pdb1a03.ent\pdb1a03.pdb" />
</appSettings></configuration>